@import "mixins";
section{
    position: relative;
    @include toRem(margin-bottom, 90);
}
.heading{
    @include toRem(font-size, 54);
    font-weight: 700;
    @include toRem(margin-bottom, 16)
}
.purple{
    color: $purple;
}
.dual{
    display: flex;
    align-items: center;
}
.dual__left, .dual__right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.content{
    @include toRem(font-size, 24);
    font-weight: 300;
    @include toRem(margin-bottom, 55);
    width: 86%;
}
.btn-grp{
    display: flex;
    justify-content: center;
    
}
.btn{
    margin: 0.4rem;
    border: solid 1px $purple;
    @include toRem(border-radius, 16);
    color: $purple;
    @include toRem(font-size, 24);
    font-weight: 500;
    @include toRem(height, 68);
    @include toRem(width, 290);
    cursor: pointer;
}
.btn--fill{
    background: $purple;
    color: #fff;
}
.btn--subscribe{
    @include toRem(width, 107);
    @include toRem(height, 47);
    @include toRem(font-size, 16);
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;
    right: 1rem;
}
.email-form{
    @include toRem(width, 600);
    @include toRem(height, 68);
    position: relative;
}
.email-input{
    width: 100%;
    height: 100%;
    border: solid 1px $purple;
    @include toRem(border-radius, 16);
    padding: 0.4rem 1rem;
    @include toRem(font-size, 24);
    background: rgba(255, 255, 255, 0);
}
.three-circles{
    position: absolute;
    left:0;
    bottom:-180px;
    z-index: -1;
}
.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-2{
    @include toRem(font-size, 36);
    font-weight: 500;
    @include toRem(margin-bottom, 55)
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.card{
    @include toRem(border-radius, 40);
    display: flex;
    flex-direction: column;
    @include toRem(width, 320);
    align-items: center;
    border: solid 1px $purple;
    background: white;
    box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.4);
    
    img{
        // @include toRem(width, 300);
        width: 100%;
        @include toRem(height, 350);
        object-fit: cover;
        @include toRem(border-radius, 40);
    }
}
.card__info{
    margin: 2rem 0;
    text-align: center;
}
.card__name{

}
.card__position{
    @include toRem(font-size, 18);
    text-align: center;
}
.feedback-section{
    background: #F5EFFC;
    @include toRem(border-radius, 30);
}
.feedback-section__heading{
    text-align: center;
    margin: 80px 0px 50px;
}
.feedback-container{
    display: grid;
    grid-template: 172px 172px / 546px 546px;
    justify-content: center;
}
